group-lasso
asgl
watermark
async-lru
statsmodels
scikit-learn
numpy
numba
seaborn
pandas
isort
black[jupyter]
flake8
pre-commit
quantlib
viztracer[full]
tqdm
jupyter
ipython
matplotlib
optimparallel
lightgbm
xgboost
kaggle
optuna
optuna-dashboard
mlxtend
mlens
vecstack
sweetviz
phik
polars
ydata_profiling
ipython
tensorflow
optax
ruff
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]
